.wrapper {
  width: 100%;
}
.btn {
  max-width: 100%;
  width: 100% ;
  display: block ;
  margin-bottom: 10px;
}
.title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}
