@import "./../../../../styles/variables.scss";

.wrapper {
  background: $white;
  max-width: 256px;
  width: 100%;
  height: 287px;
  border-radius: 30px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
  color: $darkGray;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: $light2Gray;
}
.img {
  height: 132px;
  margin: 0 auto;
  img {
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
  }
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.price {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding-right: 5px;
  strong {
    color: $darkGray;
  }
  span {
    color: $light2Gray;
  }
}

@media (max-width: 580px) {
  .wrapper {
    height: 420px;
    margin: 0 auto;
    max-width: 340px;
    padding: 22px 25px;
  }
  .price {
    display: none;
  }
  .row {
    justify-content: flex-end;
  }
  .img {
    flex: 1;
    right: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: auto;
    }
  }
}
