@import "./../../../styles/variables.scss";
.wrapper {
  background: $pink;
}
.hi {
  background: url(./../../../../public/images/mainBackground/rainbow.png)
    calc(100% - 80px) 15px / auto 100% no-repeat;
  margin: 0;
  margin-top: 34px;
}
.space {
  display: block;
  margin-left: min(180px, 15vw);
}
.services {
  padding-bottom: 54px;
}
.row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  width: 100%;
}
.trends {
  margin-bottom: 54px;
}
.shop,
.masters {
  margin-bottom: 56px;
}

@media (max-width: 600px) {
  .trends {
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .hi {
    background-position: calc(100% - 20px) 10px;
  }
}
