@import "./../../../../styles/variables.scss";
.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $darkGrayOpacity;
  z-index: 7;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  height: 100vh;
  top: 0;
  left: 0;
}
.wrapper.opened {
  opacity: 1;
  visibility: visible;
}
.content {
  width: 100%;
  max-width: 510px;
  height: max-content;
  min-height: 100%;
  background: $white;
  margin-left: auto;
  padding: 60px 50px;
  padding-top: 114px;
  transition: all 0.3s ease-in-out;
  transform: translate(100vw, 0);
}
.opened .content {
  transform: translate(0, 0);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 32px;
  border-radius: 40px;
  border: 2px solid #000;
  background: transparent;
  padding: 10px 16px;
  img {
    width: 100%;
    height: auto;
    transform: rotate(180deg);
  }
}
.btn {
  width: 32px;
  height: 32px;
}
.hi {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}
.tabWrapper {
  margin-bottom: 32px;
  & > * {
    justify-content: center !important;
  }
}

@media (max-width: 500px) {
  .content {
    width: 100%;
    max-width: 100%;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    margin-top: 110px;
    padding-bottom: 0;
  }
  .top {
    flex: 1;
    height: 100%;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .content .btn {
    display: none;
  }
}
