@import "./../../../../styles/variables.scss";
.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $darkGrayOpacity;
  z-index: 7;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  height: 100vh;
}
.wrapper.opened {
  opacity: 1;
  visibility: visible;
}
.content {
  width: 100%;
  max-width: 510px;
  height: max-content;
  min-height: 100%;
  background: $white;
  margin-left: auto;
  padding: 60px 50px;
  transition: all 0.3s ease-in-out;
  transform: translate(100vw, 0);
}
.opened .content {
  transform: translate(0, 0);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 32px;
  border-radius: 40px;
  border: 2px solid #000;
  background: transparent;
  padding: 10px 16px;
  img {
    width: 100%;
    height: auto;
    transform: rotate(180deg);
  }
}
.btn {
  width: 32px;
  height: 32px;
}
.hi {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.error {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 12px;
  text-align: center;
  color: #e31a1a;
  opacity: 0;
}
.error.show {
  opacity: 1;
}
.input {
  padding: 20px;
  border-radius: 40px;
  display: block;
  width: 100%;
  max-width: 324px;
  margin: 0 auto;
  border: 1px solid #000;
  margin-bottom: 14px;

  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  outline: none;
  &:focus {
    box-shadow: 1px 1px 5px #000;
  }
  &.errorInput {
    border: 3px solid #ff0000;
  }
  &:first-of-type {
    margin-bottom: 8px;
  }

  &::placeholder {
    color: #848484;
  }
}

.blackBtn {
  width: 100%;
  max-width: 324px;
  margin: 0 auto;
  display: block;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  &:disabled {
    background: #ededed;
    border-color: #ededed;
    color: #b0b0b0;
  }
}

.avatarWrapper {
  max-width: 162px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border-radius: 23px;
}
.rainBow {
  object-fit: cover;
  width: 100%;
}
.imgUpdate {
  margin: 0 auto;
  display: block;
  margin-top: 12px;
  margin-bottom: 31px;
}
@media (max-width: 500px) {
  .content {
    width: 100%;
    max-width: 100%;
    // background: $pink;
    border-radius: 30px 30px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    margin-top:110px;
    padding-bottom: 0;
  }
  .top {
    flex: 1;
    height: 100%;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .content .btn {
    display: none;
  }

  .mob {
    background: $white;
    padding: 15px 15px 35px;
    border-radius: 30px 30px 0 0;
    // max-width: 355px;
    width: 100%;
    margin: 0 auto;
    & > * {
      width: 100%;
      max-width: 100%;
    }
  }
}
