@import "./../../../styles/variables.scss";

.link {
  display: block;
  border: 2px solid $darkGray;
  padding: 30px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 50px;
  color: $darkGray;
  position: relative;

  &:hover {
    background: $darkGray;
    color: $white;
    &::after {
      background: url(./../../../../public/images/UI/arrow-light.svg) center /
        cover no-repeat;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 70px;
    height: 20px;
    background: url(./../../../../public/images/UI/arrow.svg) center / cover
      no-repeat;
  }
}

@media (max-width: 500px) {
  .link {
    padding: 18px 30px;
    &::after {
      width: 24px;
      height: 19px;
      background: url(./../../../../public/images/UI/arrowMobile.svg) center /
        cover no-repeat;
    }
  }
}
