@import "./../../../../styles/variables.scss";

.service {
  max-width: 663px;
  width: 100%;
  padding: 30px;
  background: $white;
  border-radius: 30px;
}
.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: $darkGray;
}
.subName {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #a9a9a9;
  margin-top: 2px;
  text-transform: uppercase;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}
.price,
.mobPrice {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.mobPrice {
  display: none;
}
.subInfo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: end;
}
.btn {
  padding: 12px 60px;
  gap: 10px;
  border-radius: 30px;
  background: $white;
  border: 2px solid #000;
}
.tags,
.mobTags {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  color: $gray;
}
.mobTags {
  display: none;
  margin-top: 4px;
}
@media (max-width: 630px) {
  .price,
  .tags {
    display: none;
  }
  .subInfo {
    align-items: center;
  }
  .mobPrice {
    display: block;
  }
  .mobTags {
    display: flex;
  }
}
