@import "./../../../../styles/variables.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 57px 12px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: 2px solid #000;
  background: transparent;
  color: $darkGray;
  position: relative;
  &:hover{
    transition: all .1s ease-in-out;
    transform: scale(1.06);
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
    right: 4px;
  }
  &::before {
    background: $white;
    right: 4px;
  }
  &::after {
    z-index: 2;
    background: url(./../../../../../public/images/header/arrow.svg) center / 19px
      16px no-repeat;
  }
}
