@import "./../../../styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  max-width: max-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    background: transparent;
    height: 13px;
  }
  &:hover::-webkit-scrollbar {
    height: 13px;
    background: $white;
    border: 2px solid $darkGray;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
    background: $darkGray;
  }
}


.filter_item {
  cursor: pointer;
  display: block;
  text-align: center;
  font-weight: 600;
  border: 2px solid black;
  font-size: 16px;
  line-height: 19px;
  border-radius: 30px;
  transition: all 0.2s;
  padding: 12px 20px;
  background: transparent;
  white-space: nowrap;

  &:hover {
    background: $darkGray;
    color: $white;
  }
}
@media (max-width: 600px) {
  .container::-webkit-scrollbar {
    display: none;
  }
}