@import "./../../../styles/variables.scss";

.container {
  display: flex;
  margin-top: 4px;
  justify-content: start;
  gap: 4px;
  align-items: start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    background: transparent;
    height: 13px;
  }
  &:hover::-webkit-scrollbar {
    height: 13px;
    background: $white;
    border: 1px solid $darkGray;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
    background: $darkGray;
  }
}
.filter_item {
  display: block;
  text-align: center;
  font-weight: 600;
  border: min(0.15vw, 2px) solid black;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5vw;
  transition: all 0.2s;
  padding: 12px 20px;
  background: transparent;
  white-space: nowrap;
}
// @media (max-width: 730px) {
//   .container {
//     display: flex;
//     flex-wrap: nowrap;
//     overflow-y: auto;
//   }
// }
// @media (max-width: 600px) {
//   .container::-webkit-scrollbar {
//     display: none;
//   }
// }
