@import "./../../../styles/variables.scss";
.wrapper {
  background: $blue;
}
.title {
  margin-top: 130px;
}
.profile {
  display: flex;
  gap: 12px;
  margin-bottom: 60px;
}
.profileInfo {
  width: 50%;
  background: $white;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 8px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}

.select_title {
  display: inline-block;
}
.select_filter {
  flex: 1 1 auto;
  width: 100%;
  justify-content: flex-end;
  & > * {
    max-width: none !important;
    padding: 10px 60px !important;
  }
}
.rowforProducts {
  margin-top: 16px;
  margin-bottom: 64px;
  max-width: none;
}
.name {
  font-size: 50px;
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.rank {
  color: $blue;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 24px;
  text-transform: capitalize;
}
.btns {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  & button {
    width: 100%;
  }
}
.profileBalance {
  background: $white;
  padding: 40px;
  padding-top: 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  button {
    text-wrap: nowrap;
  }
}
.amount {
  font-size: 80px;
  font-weight: 600;
  line-height: 90px;
}
.label {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px;
}
.balanceImg {
  overflow: hidden;
  transform: translate(10px, 0);
  flex: 0 0 auto;
  img {
    width: 100%;
    height: auto;
  }
}
.arrowLink {
  margin-bottom: 64px;
}
.rowCards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  margin: 12px 0;
  & > * {
    width: 100%;
  }
}
.decor {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 215px;
    height: 155px;
    position: absolute;
    right: 10%;
    top: -35px;
    z-index: 1;
    pointer-events: none;
    background: url(./../../../../public/images/account/stars-transformed.png)
      center/auto no-repeat;
  }
}
@media (max-width: 1370px) {
  .profile {
    margin-top: 10px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    & > * {
      width: 100%;
      max-width: 660px;
    }
  }
}
.imgWrapper,
.imgWrapperMob {
  max-width: 210px;
  max-height: 230px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  .img {
    height: 100%;
    object-fit: cover;
  }
}
.imgWrapperMob {
  display: none;
}
@media (max-width: 700px) {
  .title {
    margin-top: 30px;
  }
  .profileInfo {
    position: relative;
    padding: 20px;
  }
  .row{
    flex-direction: column;
    gap: 10px;
  }
  .imgWrapperMob {
    display: block;
    max-width: 97px;
    max-height: 109px;
    width: 100%;
    height: 100%;
    .img {
      width: 100%;
      height: 100%;
    }
  }
  .infoTop {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .imgWrapper {
    display: none;
  }

  .name {
    font-size: 30px;
    line-height: 32px;
  }
  .rank {
    margin-bottom: 47px;
  }
  .info {
    width: 100%;
    margin: 0 auto;
  }
  .profileBalance {
    padding: 50px 25px;
    position: relative;
  }
  .balanceImg {
    display: none;
  }
  .amount {
    font-size: 50px;
    line-height: 52px;
  }
  .label {
    font-size: 16px;
    line-height: 19px;
  }
  .balance {
    width: 100%;
  }
  .profileBalance button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  .decor::after {
    width: 150px;
    height: 110px;
    right: 0;
  }
}
