.wrapper {
  max-width: 1600px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .wrapper {
    padding: 0 15px;
  }
}
@media (max-width: 460px) {
  .wrapper {
    padding: 0 9px;
  }
}
