@import "./../../../styles/variables.scss";

.wrapper {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: $darkGrayOpacity;
  width: 0;
  z-index: 2;
  overflow-y: auto;
}
.screen {
  background: $white;
  max-width: 473px;
  margin-left: auto;
  min-height: 100%;
  padding: 45px 55px;
  z-index: 2;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transform: translate(100vw, 0);
  transition: all 0.3s ease-in-out;
}
.opened {
  width: 100%;
}
.opened .screen {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(0vw, 0);
  transition: all 0.3s ease-in-out;
}
.btn {
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 50%,
    #ffffff 100%
  );
  width: 100%;
  max-width: 473px;
  height: 220px;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  z-index: 200;
  padding-top: 100px;
  padding-bottom: 65px;

  opacity: 0;
  visibility: hidden;
  transform: translate(100vw, 0);
}
.opened .btn {
  opacity: 1;
  visibility: visible;
  transform: translate(0vw, 0);
  transition: all 0.3s ease-in-out;
}
.head {
  display: flex;
  justify-content: space-between;
}
.img {
  margin-bottom: 16px;
  position: relative;
  margin-top: 16px;
  img {
    width: 100%;
    height: auto;
  }
}
.about {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
.content {
  margin-bottom: 130px;
}

.like {
  position: absolute;
  width: 27px;
  height: 23px;
  right: 26px;
  top: 26px;
  display: block;
  background: url(./../../../../public/images/masters/favourite.png) center/
    100% no-repeat;
  &:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.3);
  }
}
.like.liked {
  background-image: url(./../../../../public/images/masters/favourite-fill.png);
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}
.prof {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 38px;
}
.descr {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.location {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}
.locationImg {
}
.locationName {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 400px) {
  .screen {
    padding: 40px 20px;
  }
}
