.header,
.header_inner,
.body_open,
.body_inner,
.info,
.button_container {
  display: flex;
}
.body_open {
  background: linear-gradient(180deg, #ffffff 0%, #ffedff 100%);
  overflow: hidden;
  border-radius: 30px;
}
.header_inner,
.body_inner,
.info {
  justify-content: space-between;
  width: 100%;

  button {
    background: transparent;
  }
}
.body_inner {
  gap: 118px;
}
.header,
.body_open {
  align-items: center;
  justify-content: center;
}

.info {
  font-size: 1.43vw;
  max-width: 440px;
}

.header_inner,
.body_inner {
  width: 100%;
  padding: 31px 50px;
}
.body_inner {
  padding-bottom: 0;
}
.showAll_button {
  border-radius: 30px;
  padding: 12px 30px;
}
.header_inner {
  cursor: pointer;
}
.container {
  position: relative;
  &:hover .title {
    transition: all 0.1s ease-in-out;
    border-bottom: 3px solid #000;
  }
}
.title {
  font-weight: 600;
  font-size: 50px;
  border-bottom: 3px solid transparent;
}
.body_close {
  height: 0;
  overflow: hidden;
  animation: close 0.4s;
}

.body_open {
  animation: open 0.4s;
  .info {
    flex-direction: column;

    .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.button_container {
  justify-content: flex-end;
  button:hover {
    transition: all 0.1s ease-in-out;
    background: #000;
    color: #fff;
  }
}

.arrow_top {
  transform: rotate(180deg);
  animation: top 0.2s;
}

.arrow_bottom {
  transform: rotate(0deg);
  animation: bottom 0.2s;
}
.showAll_button {
  font-weight: 600;
}

@keyframes top {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes bottom {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 850px) {
  .container {
    border-radius: 2.14vw;
  }

  .header {
    max-height: 114px;
  }

  .price_list {
    width: 100%;
    padding-bottom: 37px;
  }

  .text {
    font-size: min(1.43vw, 20px);
  }

  .showAll_button {
    border: 2px solid black;
    font-size: min(1.54vw, 16px);
  }

  .arrow_top,
  .arrow_bottom {
    width: 2.29vw;
    max-width: 32px;
  }
}

@media (max-width: 900px) {
  .container {
    border-radius: 5vw;
  }

  .header {
    max-height: 100px;
  }

  .text {
    font-size: 2.5vw;
  }

  .showAll_button {
    border: 2px solid black;
    font-size: 16px;
  }

  .arrow_top,
  .arrow_bottom {
    width: 4vw;
  }
}

@media (max-width: 850px) {
  .container:not(:last-child) {
    border-radius: 8.02vw 8.02vw 0 0;
  }

  .container:last-child {
    border-radius: 8.02vw;
  }

  .title {
    font-size: 30px;
  }
  .body_inner {
    flex-direction: column;
  }

  .price_list {
    padding-bottom: 2.9%;
  }
  .container {
  }
  .container:not(:last-child) .img_container {
    // width: 45.45vw;
    position: absolute;
    bottom: 0%;
    left: 20px;
  }

  .container:last-child .img_container {
    position: absolute;
    bottom: 0%;
  }

  .img_container {
    bottom: -30px;
    // z-index: 1;
    left: 0px;

    width: 170px;
    img {
      width: 100%;
    }
  }

  .showAll_button {
    font-size: 16px;
  }

  .button_container {
    margin-top: 140px;
  }

  .arrow_top,
  .arrow_bottom {
    width: 4.4vw;
  }
}
@media (max-width: 550px) {
  .body_inner {
    padding: 20px;
  }
  .button_container {
    z-index: 2;
    position: relative;
  }
}
@media (max-width: 500px) {
  .img_container {
    width: 130px;
    height: 150px;
  }
}
