$black: #000000;
$darkGray: #1b1b1a;

$white: #ffffff;
$smokeWhite: #fffbff;

$gray: #bbb8bb;
$lightGray: #e5e5e5;

$green: #8bf34c;

$blue: #48a8dd;

$lightRed: #ff7e7e;

$pink: #f78ffa;

$violet: #b2a0f8;

$yellow: #f8c439;
$lightYellow: #ffe769;
