.wrapperRow {
  margin-bottom: 24px;
  width: 100%;
  max-width: 1700px;
  overflow-x: auto;
  margin: 0 auto;
  img {
    object-fit: cover;
    border-radius: 20px;
  }
}
.wrapperRow::-webkit-scrollbar {
  display: none;
}
.row {
  display: flex;
  max-width: max-content;
  gap: 12px;
  padding: 0 30px;
  @media (max-width: 991px) {
    padding-left: 15px;
  }
  @media (max-width: 460px) {
    padding-left: 9px;
  }
}
.slide {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 12px;
}
.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 16px;
}

@media (max-width: 690px) {
  .name {
    font-size: 20px;
    line-height: 24px;
  }
}
