@import "./../../../styles/variables.scss";

.service {
  max-width: 663px;
  width: 100%;
  padding: 30px;
  background: $white;
  border-radius: 30px;
}
.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: $darkGray;
}
.subName {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: #a9a9a9;
  margin-top: 2px;
  text-transform: uppercase;
}
.green {
  color: $green;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}
.price,
.mobPrice {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-wrap: nowrap;
}
.mobPrice {
  display: none;
}
.subInfo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
}
.btn {
  padding: 12px 60px;
  gap: 10px;
  border-radius: 30px;
  background: $white;
  border: 2px solid #000;
  color: $darkGray;
  &:hover {
    transition: all 0.1s ease-in-out;
    background: #000;
    color: #fff;
  }
}
.tags,
.mobTags {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: $gray;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobTags {
  display: none;
  margin-top: 4px;
}
@media (max-width: 630px) {
  .price,
  .tags {
    display: none;
  }
  .subInfo {
    align-items: center;
  }
  .mobPrice {
    display: block;
  }
  .mobTags {
    display: -webkit-box;
  }
}
@media (max-width: 460px) {
  .btn {
    padding: 12px 20px;
  }
}
