.text,
.title,
.price_button {
  font-weight: 600;
}
.title {
  font-size: 20px;
}
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  .text {
    opacity: 0.3;
    margin-top: 4px;
  }
}
.list_item:not(:last-child) {
  margin-bottom: max(2.36vw,16px);
}
.price_button {
  white-space: nowrap;
  padding: 8px 20px;
  &:hover{
    transition: all .1s ease-in-out;
   background: #000;
   color: #fff;
  }
}

@media (min-width: 850px) {
  .price_button {
    border: 1px solid #1b1b1a;
    border-radius: 2.14vw;
  }
  .title {
    // font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  .text,
  .price_button {
    // font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
}
@media (max-width: 850px) {
  .price_button {
    border: 1px solid black;
    border-radius: 8vw;
  }
  .text {
    display: none;
  }
}
