.blackBtn {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
}
.summary {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
}
.numbers {
  margin-bottom: 20px;
}
.sale {
  text-decoration: line-through;
  color: #a9a9a9;
}
