.service {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.service:not(:last-of-type) {
  border-bottom: 1px solid #a9a9a9;
}
.row {
  display: flex;
  gap: 10px;

  justify-content: space-between;
  margin-bottom: 7px;
}
.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.price {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.enlist {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  background: transparent;
  color: #a9a9a9;
  text-transform: uppercase;
}
.trash {
  margin-left: auto;
  background: transparent;
}
.empty {
  font-size: 26px;
  text-align: center;
}
.time {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
  color: #a9a9a9;
}
.detailImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex: 1 0 auto;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
.details {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.detail {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}
.detailName {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.detailSubname {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.overall {
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}

.btnMain {
  margin-top: 28px;
  margin-bottom: 24px;
  width: 100%;
}

.call {
  margin-left: auto;
  margin-top: 80px;
}
