@import "./../../../styles/variables.scss";

.btn {
  background: transparent;
  color: $darkGray;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: 2px solid #000;
  padding: 12px 30px;
}

@media (max-width: 500px) {
  .btn {
    font-size: 12px;
  }
}