@import "./../../../styles/variables.scss";
.header {
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 2;
  // left: 0;
}
.content {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.left {
  display: flex;
  align-items: center;
  max-width: 535px;
  gap: 35px;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.link {
  font-weight: 500;
  font-size: 16px;
  color: $black;
  border-bottom: 2px solid transparent;
  &:hover {
    transition: all 0.1s ease-in-out;
    border-bottom: 2px solid $darkGray;
  }
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.header .callBtn,
.header .mobileBtn {
  display: none;
}
.logoLink {
  &:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.06);
  }
}

@media (max-width: 940px) {
  .right {
    flex-direction: row-reverse;
    gap: 4px;
  }
  .content {
    border: 2px solid #000;
    border-top: none;
    border-radius: 0 0 35px 35px;
    padding: 20px;
    gap: 0;

    .nav {
      display: none;
    }
    .blackBtn {
      display: none;
    }
    .profileBtn {
      display: none;
    }
    .callBtn {
      display: block;
    }

    .mobileBtn {
      display: flex;
    }
  }
}
@media (max-width: 500px) {
  .logoLink {
    img {
      width: 70px;
      height: 22px;
    }
  }
  .content {
    padding: 10px;
  }
}
