@import "./../../../styles/variables.scss";
.wrapper {
  background: url(./../../../../public/images/news/cloud.png) -80px calc(
        100% - 500px
      ) / auto no-repeat,
    $violet;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 220px;
    display: block;
    width: 590px;
    height: 606px;
    pointer-events: none;
    background: url(./../../../../public/images/news/thunder.png) center / cover
      no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    width: 441px;
    height: 294px;
    pointer-events: none;
    background: url(./../../../../public/images/news/cloud.png) center / cover
      no-repeat;
  }
  header {
    position: relative;
  }
}

.title {
  padding-top: 138px;
  padding-bottom: 0px;
  position: relative;
}
.slider {
  margin-bottom: 32px;
}
.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: 16px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.column {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  &:nth-of-type(odd) {
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
}
.btn {
  position: relative;
}
.emptyListMessage {
  margin: 220px 0;
  display: block;
}
@media (max-width: 940px) {
  .title {
    margin-top: 30px;
  }
  .wrapper {
    &::before {
      width: 306px;
      height: 273px;
      // z-index: 1;
      top: 0px;
      right: 60px;
      background: url(./../../../../public/images/news/thunderMobile.png) center /
        cover no-repeat;
    }
    &::after {
      width: 230px;
      height: 190px;
      z-index: 3;
      right: 0px;
      transform: translate(0, 0);
      pointer-events: all;
      left: auto;
      background: url(./../../../../public/images/news/clouds.png) center / 100%
        no-repeat;
    }
  }
  .btn {
    z-index: 4;
  }
}
@media (max-width: 900px) {
  .column {
    width: 100%;
    &:nth-last-of-type(even) {
      flex-direction: column-reverse;
    }
  }
}
@media (max-width: 500px) {
  .wrapper {
    background-position: -100px calc(100% - 380px);
    &::before {
      top: -60px;
      left: 30px;
    }
  }
}
